In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats # 통계 함수 사용

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import SparsePCA

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
data = pd.read_csv('/content/drive/MyDrive/시소프로젝트/완성데이터/디지털지수포함_449.csv')
data.head(1)

,자치구,동,센터명,공원수,도서관수,병원수,배움터수,동별강좌정원,사고건수,독거노인포함,...,합계,일반,65세이상고령자,전연령별독거노인비율,노인인구별독거노인비율,X,Y,위도UTMK,경도UTMK,디지털정보지수
0,종로구,청운효자동,청운효자동 주민센터,0.0,0.0,0.0,0.0,70.0,0.0,1358396.0,...,604,515,2249,4.781129,26.856381,37.584083,126.970636,1.953680e+06,953451.030567,11754.55

In [11]:
data.shape

(449, 21)

In [12]:
sta9 = data.iloc[:,0:3]
sta9.head(3)

   자치구            동               센터명
0  종로구        청운효자동        청운효자동 주민센터
1  종로구          사직동          사직동 주민센터
2  종로구  종로1.2.3.4가동  종로1.2.3.4가동 주민센터

In [13]:
sta9['공원수 9'] = 0
sta9.head(1)

   자치구      동         센터명  공원수 9
0  종로구  청운효자동  청운효자동 주민센터      0

In [14]:
park = data.iloc[:,3]
park.head(1)

0    0.0
Name: 공원수, dtype: float64

In [15]:
sta9['공원수 9'] = round(scipy.stats.zscore(park))*2 + 5
sta9.head(1)

   자치구      동         센터명  공원수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0

In [16]:
data.columns

Index(['자치구', '동', '센터명', '공원수', '도서관수', '병원수', '배움터수', '동별강좌정원', '사고건수',
       '독거노인포함', '대중교통', '합계', '일반', '65세이상고령자', '전연령별독거노인비율', '노인인구별독거노인비율',
       'X', 'Y', '위도UTMK', '경도UTMK', '디지털정보지수'],
      dtype='object')

In [17]:
sta9['도서관수 9'] = 0
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0       0

In [18]:
library = data.iloc[:,4]
library.head(1)

0    0.0
Name: 도서관수, dtype: float64

In [19]:
sta9['도서관수 9'] = round(scipy.stats.zscore(library))*2 + 5
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0     3.0

In [20]:
sta9['병원수 9'] = 0
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9  병원수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0     3.0      0

In [21]:
hospital = data.iloc[:,5]
hospital.head(1)

0    0.0
Name: 병원수, dtype: float64

In [22]:
sta9['병원수 9'] = round(scipy.stats.zscore(hospital))*2 + 5
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9  병원수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0     3.0    5.0

In [23]:
sta9['배움터수 9'] = 0
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9  병원수 9  배움터수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0     3.0    5.0       0

In [24]:
academy = data.iloc[:,6]
academy.head()

0    0.0
1    0.0
2    2.0
3    0.0
4    0.0
Name: 배움터수, dtype: float64

In [25]:
sta9['배움터수 9'] = round(scipy.stats.zscore(academy))*2 + 5
sta9.head(3)

   자치구            동               센터명  공원수 9  도서관수 9  병원수 9  배움터수 9
0  종로구        청운효자동        청운효자동 주민센터    5.0     3.0    5.0     5.0
1  종로구          사직동          사직동 주민센터    9.0     9.0    5.0     5.0
2  종로구  종로1.2.3.4가동  종로1.2.3.4가동 주민센터    9.0     3.0   11.0    11.0

In [26]:
data.columns

Index(['자치구', '동', '센터명', '공원수', '도서관수', '병원수', '배움터수', '동별강좌정원', '사고건수',
       '독거노인포함', '대중교통', '합계', '일반', '65세이상고령자', '전연령별독거노인비율', '노인인구별독거노인비율',
       'X', 'Y', '위도UTMK', '경도UTMK', '디지털정보지수'],
      dtype='object')

In [27]:
sta9['동별강좌정원 9'] = 0
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9  병원수 9  배움터수 9  동별강좌정원 9
0  종로구  청운효자동  청운효자동 주민센터    5.0     3.0    5.0     5.0         0

In [28]:
classnum = data.iloc[:,7]
classnum.head(1)

0    70.0
Name: 동별강좌정원, dtype: float64

In [29]:
sta9['동별강좌정원 9'] = round(scipy.stats.zscore(classnum))*2 + 5
sta9.head(3)

   자치구            동               센터명  공원수 9  도서관수 9  병원수 9  배움터수 9  동별강좌정원 9
0  종로구        청운효자동        청운효자동 주민센터    5.0     3.0    5.0     5.0       3.0
1  종로구          사직동          사직동 주민센터    9.0     9.0    5.0     5.0       3.0
2  종로구  종로1.2.3.4가동  종로1.2.3.4가동 주민센터    9.0     3.0   11.0    11.0       5.0

In [30]:
sta9['사고건수 9'] = 0
sta9.head(1)

   자치구      동         센터명  공원수 9  도서관수 9  병원수 9  배움터수 9  동별강좌정원 9  사고건수 9
0  종로구  청운효자동  청운효자동 주민센터    5.0     3.0    5.0     5.0       3.0       0

In [31]:
accident = data.iloc[:,8]
accident.head(1)

0    0.0
Name: 사고건수, dtype: float64

In [32]:
sta9['사고건수 9'] = -(round(scipy.stats.zscore(accident))*2 + 5)
sta9.head(3)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0
1,종로구,사직동,사직동 주민센터,9.0,9.0,5.0,5.0,3.0,-5.0
2,종로구,종로1.2.3.4가동,종로1.2.3.4가동 주민센터,9.0,3.0,11.0,11.0,5.0,-5.0

In [33]:
data.columns

Index(['자치구', '동', '센터명', '공원수', '도서관수', '병원수', '배움터수', '동별강좌정원', '사고건수',
       '독거노인포함', '대중교통', '합계', '일반', '65세이상고령자', '전연령별독거노인비율', '노인인구별독거노인비율',
       'X', 'Y', '위도UTMK', '경도UTMK', '디지털정보지수'],
      dtype='object')

In [34]:
sta9['독거노인포함 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,0

In [35]:
oldconta = data.iloc[:,9]
oldconta.head(1)

0    1358396.0
Name: 독거노인포함, dtype: float64

In [36]:
sta9['독거노인포함 9'] = round(scipy.stats.zscore(oldconta))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0

In [37]:
sta9['대중교통 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,0

In [38]:
public = data.iloc[:,10]
public.head(1)

0    1.0
Name: 대중교통, dtype: float64

In [39]:
sta9['대중교통 9'] = round(scipy.stats.zscore(public))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0

In [40]:
sta9['합계 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,0

In [41]:
total = data.iloc[:,11]
total.head(1)

0    604
Name: 합계, dtype: int64

In [42]:
sta9['합계 9'] = round(scipy.stats.zscore(total))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0

In [43]:
data.columns

Index(['자치구', '동', '센터명', '공원수', '도서관수', '병원수', '배움터수', '동별강좌정원', '사고건수',
       '독거노인포함', '대중교통', '합계', '일반', '65세이상고령자', '전연령별독거노인비율', '노인인구별독거노인비율',
       'X', 'Y', '위도UTMK', '경도UTMK', '디지털정보지수'],
      dtype='object')

In [44]:
sta9['일반 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,0

In [45]:
normal = data.iloc[:,12]
normal.head(1)

0    515
Name: 일반, dtype: int64

In [46]:
sta9['일반 9'] = round(scipy.stats.zscore(normal))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0

In [47]:
sta9['65세이상고령자 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,0

In [48]:
age65 = data.iloc[:,13]
age65.head(1)

0    2249
Name: 65세이상고령자, dtype: int64

In [49]:
sta9['65세이상고령자 9'] = round(scipy.stats.zscore(age65))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0

In [50]:
sta9['전연령별독거노인비율 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,0

In [51]:
pertoage = data.iloc[:,14]
pertoage.head(1)

0    4.781129
Name: 전연령별독거노인비율, dtype: float64

In [52]:
sta9['전연령별독거노인비율 9'] = round(scipy.stats.zscore(pertoage))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0

In [53]:
data.columns

Index(['자치구', '동', '센터명', '공원수', '도서관수', '병원수', '배움터수', '동별강좌정원', '사고건수',
       '독거노인포함', '대중교통', '합계', '일반', '65세이상고령자', '전연령별독거노인비율', '노인인구별독거노인비율',
       'X', 'Y', '위도UTMK', '경도UTMK', '디지털정보지수'],
      dtype='object')

In [54]:
sta9['노인인구별독거노인비율 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9,노인인구별독거노인비율 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0,0

In [55]:
pertoold = data.iloc[:,15]
pertoold.head(1)

0    26.856381
Name: 노인인구별독거노인비율, dtype: float64

In [56]:
sta9['노인인구별독거노인비율 9'] = round(scipy.stats.zscore(pertoold))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9,노인인구별독거노인비율 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0

In [57]:
sta9['디지털정보지수 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9,노인인구별독거노인비율 9,디지털정보지수 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0,0

In [58]:
digital = data.iloc[:,20]
digital.head(1)

0    11754.55
Name: 디지털정보지수, dtype: float64

In [59]:
sta9['디지털정보지수 9'] = round(scipy.stats.zscore(digital))*2 + 5
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9,노인인구별독거노인비율 9,디지털정보지수 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0,3.0

In [60]:
sta9['총합 9'] = 0
sta9.head(1)

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9,노인인구별독거노인비율 9,디지털정보지수 9,총합 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0,3.0,0

In [61]:
sta9['총합 9'] = sta9.sum(axis=1)
sta9.head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,자치구,동,센터명,공원수 9,도서관수 9,병원수 9,배움터수 9,동별강좌정원 9,사고건수 9,독거노인포함 9,대중교통 9,합계 9,일반 9,65세이상고령자 9,전연령별독거노인비율 9,노인인구별독거노인비율 9,디지털정보지수 9,총합 9
0,종로구,청운효자동,청운효자동 주민센터,5.0,3.0,5.0,5.0,3.0,-5.0,3.0,5.0,3.0,5.0,3.0,5.0,5.0,3.0,48.0

In [62]:
sta9sum = sta9['총합 9']
sta9sum

0       48.0
1       62.0
2      100.0
3       54.0
4       50.0
       ...
444     70.0
445     54.0
446     58.0
447     38.0
448     46.0
Name: 총합 9, Length: 449, dtype: float64

In [63]:
df = data.copy()
df.head(1)

,자치구,동,센터명,공원수,도서관수,병원수,배움터수,동별강좌정원,사고건수,독거노인포함,...,합계,일반,65세이상고령자,전연령별독거노인비율,노인인구별독거노인비율,X,Y,위도UTMK,경도UTMK,디지털정보지수
0,종로구,청운효자동,청운효자동 주민센터,0.0,0.0,0.0,0.0,70.0,0.0,1358396.0,...,604,515,2249,4.781129,26.856381,37.584083,126.970636,1.953680e+06,953451.030567,11754.55

In [64]:
dfnew = pd.concat([df, sta9sum], axis = 1)
dfnew.head(1)

,자치구,동,센터명,공원수,도서관수,병원수,배움터수,동별강좌정원,사고건수,독거노인포함,...,일반,65세이상고령자,전연령별독거노인비율,노인인구별독거노인비율,X,Y,위도UTMK,경도UTMK,디지털정보지수,총합 9
0,종로구,청운효자동,청운효자동 주민센터,0.0,0.0,0.0,0.0,70.0,0.0,1358396.0,...,515,2249,4.781129,26.856381,37.584083,126.970636,1.953680e+06,953451.030567,11754.55,48.0

In [65]:
dfnew[dfnew['자치구'] == '양천구']

,자치구,동,센터명,공원수,도서관수,병원수,배움터수,동별강좌정원,사고건수,독거노인포함,...,일반,65세이상고령자,전연령별독거노인비율,노인인구별독거노인비율,X,Y,위도UTMK,경도UTMK,디지털정보지수,총합 9
222,양천구,신월1동,신월1동 주민센터,0.0,0.0,0.0,0.0,120.0,0.0,4759612.0,...,806,4082,5.488092,28.564429,37.519240,126.857540,1.946548e+06,943416.437908,19212.44,64.0
223,양천구,신월2동,신월2동 주민센터,0.0,0.0,0.0,0.0,20.0,0.0,2894844.0,...,484,3804,3.536245,20.005258,37.519207,126.870697,1.946537e+06,944579.073342,20042.42,56.0
224,양천구,신월3동,신월3동 주민센터,0.0,0.0,0.0,0.0,226.0,0.0,2967824.0,...,570,2956,6.288757,33.964817,37.515141,126.854809,1.946095e+06,943171.970302,14373.16,58.0
225,양천구,신월4동,신월4동 주민센터,0.0,1.0,0.0,0.0,140.0,0.0,1681690.0,...,375,3173,2.866879,16.703435,37.524039,126.858782,1.947080e+06,943529.832084,17368.29,48.0
226,양천구,신월5동,신월5동 주민센터,0.0,1.0,0.0,0.0,418.0,0.0,1250264.0,...,315,2386,3.449865,21.961442,37.517066,126.864476,1.946303e+06,944027.721458,14458.20,50.0
227,양천구,신월6동,신월6동 주민센터,1.0,1.0,0.0,0.0,17.0,0.0,494494.0,...,188,1729,2.072764,16.541353,37.534810,126.878355,1.948263e+06,945267.266535,14384.96,48.0
228,양천구,신정3동,신정3동 주민센터,0.0,0.0,0.0,0.0,60.0,0.0,9808224.0,...,984,6816,3.075641,21.112089,37.515141,126.854809,1.946095e+06,943171.970302,50282.29,74.0
229,양천구,목1동,목1동 주민센터,0.0,0.0,1.0,0.0,106.0,0.0,1514170.0,...,392,3122,1.528666,15.534914,37.530379,126.871157,1.947776e+06,944628.028464,32054.77,52.0
230,양천구,목2동,목2동 주민센터,0.0,2.0,0.0,0.0,40.0,0.0,3447148.0,...,601,4094,2.742224,20.566683,37.546127,126.871698,1.949523e+06,944687.474873,30922.62,62.0
231,양천구,목3동,목3동 주민센터,0.0,0.0,0.0,0.0,269.0,0.0,2393640.0,...,500,3270,3.232787,22.385321,37.544713,126.864459,1.949370e+06,944046.948723,22252.86,56.0
232,양천구,목4동,목4동 주민센터,0.0,0.0,0.0,0.0,152.0,0.0,2294943.0,...,470,3183,2.752959,22.651587,37.532407,126.868362,1.948003e+06,944382.569872,26040.61,52.0
233,양천구,목5동,목5동 주민센터,0.0,0.0,0.0,0.0,128.0,0.0,2154000.0,...,494,4308,1.182369,11.606314,37.537197,126.881730,1.948526e+06,945567.131888,42653.88,50.0
234,양천구,신월7동,신월7동 주민센터,0.0,0.0,0.0,1.0,41.0,0.0,4858304.0,...,790,4288,5.486417,26.422575,37.532526,126.831595,1.948038e+06,941134.140781,18353.41,64.0
235,양천구,신정1동,신정1동 주민센터,0.0,1.0,0.0,1.0,65.0,0.0,1143072.0,...,334,2646,2.049919,16.326531,37.526227,126.848331,1.947329e+06,942608.027739,20689.59,48.0
236,양천구,신정2동,신정2동 주민센터,0.0,0.0,0.0,2.0,36.0,0.0,1407636.0,...,255,2564,2.716880,21.411856,37.531909,126.827674,1.947972e+06,940787.252040,19697.53,50.0
237,양천구,신정4동,신정4동 주민센터,0.0,1.0,0.0,1.0,84.0,0.0,7953816.0,...,867,5772,4.030300,23.873874,37.537161,126.829179,1.948554e+06,940924.364508,32667.56,70.0
238,양천구,신정6동,신정6동 주민센터,0.0,1.0,0.0,0.0,189.0,0.0,875495.0,...,314,2645,1.321991,12.514178,37.538739,126.827154,1.948730e+06,940746.682524,25548.81,48.0
239,양천구,신정7동,신정7동 주민센터,0.0,2.0,0.0,0.0,25.0,0.0,6209120.0,...,563,4832,4.272652,26.593543,37.521464,126.836153,1.946808e+06,941528.232597,28271.93,70.0
438,양천구,신정6동,신정6동 양천구청,0.0,1.0,0.0,0.0,189.0,0.0,875495.0,...,314,2645,1.321991,12.514178,37.517034,126.866460,1.946298e+06,944203.049579,25548.81,48.0

* 양천구청 '총합 9' 가 48점인 것 확인.

In [66]:
dfnew[dfnew['자치구'] == '서초구']

,자치구,동,센터명,공원수,도서관수,병원수,배움터수,동별강좌정원,사고건수,독거노인포함,...,일반,65세이상고령자,전연령별독거노인비율,노인인구별독거노인비율,X,Y,위도UTMK,경도UTMK,디지털정보지수,총합 9
340,서초구,방배1동,방배1동 주민센터,0.0,0.0,0.0,0.0,237.0,0.0,1259350.0,...,340,2830,2.560267,15.724382,37.483853,126.994412,1.942549e+06,955490.727211,16935.85,42.0
341,서초구,방배2동,방배2동 주민센터,0.0,0.0,0.0,2.0,327.0,0.0,2369610.0,...,487,3495,3.322878,19.399142,37.482365,126.985614,1.942388e+06,954711.919275,18634.51,60.0
342,서초구,방배3동,방배3동 주민센터,0.0,1.0,0.0,0.0,729.0,0.0,1791590.0,...,374,3694,2.262021,13.129399,37.481112,126.998680,1.942243e+06,955866.369839,18397.14,60.0
343,서초구,방배4동,방배4동 주민센터,0.0,1.0,0.0,0.0,385.0,0.0,2017914.0,...,490,3426,2.450491,17.192061,37.475170,127.001771,1.941582e+06,956136.188111,23903.15,54.0
344,서초구,방배본동,방배본동 주민센터,0.0,0.0,0.0,0.0,217.0,0.0,1405920.0,...,374,3030,2.179120,15.313531,37.495739,126.987535,1.943871e+06,954889.859294,21120.25,48.0
345,서초구,양재2동,양재2동 주민센터,0.0,0.0,0.0,0.0,523.0,0.0,1756440.0,...,430,2870,2.694967,21.324042,37.470592,127.041223,1.941056e+06,959622.162527,22798.60,50.0
346,서초구,양재1동,양재1동 주민센터,0.0,1.0,0.0,0.0,453.0,0.0,8839380.0,...,744,6810,2.891513,19.060206,37.471635,127.026708,1.941178e+06,958339.182997,43206.09,74.0
347,서초구,반포3동,반포3동 주민센터,0.0,0.0,0.0,0.0,271.0,0.0,1213472.0,...,404,2917,1.856148,14.261227,37.508328,127.003264,1.945260e+06,956287.575195,22579.14,46.0
348,서초구,잠원동,잠원동 주민센터,0.0,1.0,0.0,0.0,508.0,0.0,1868184.0,...,464,3348,1.955699,16.666667,37.514936,127.014029,1.945988e+06,957242.807696,27693.85,54.0
349,서초구,반포1동,반포1동 주민센터,0.0,1.0,0.0,0.0,293.0,0.0,2275252.0,...,516,3533,1.973644,18.228135,37.505083,127.013394,1.944895e+06,957181.027530,36834.75,58.0
350,서초구,반포2동,반포2동 주민센터,0.0,0.0,0.0,0.0,0.0,0.0,386298.0,...,193,1951,1.219212,10.148642,37.504573,126.994510,1.944847e+06,955511.681905,16318.48,34.0
351,서초구,반포4동,반포4동 주민센터,0.0,0.0,1.0,0.0,174.0,0.0,1087104.0,...,358,2831,1.922211,13.564112,37.499096,127.000095,1.944237e+06,956002.058821,19493.60,50.0
352,서초구,반포본동,반포본동 주민센터,0.0,0.0,0.0,0.0,0.0,0.0,345854.0,...,171,1943,1.484447,9.161091,37.510064,127.019532,1.945445e+06,957726.342369,653.17,40.0
353,서초구,서초1동,서초1동 주민센터,0.0,4.0,0.0,0.0,192.0,0.0,1545582.0,...,400,2978,2.449615,17.427804,37.492709,127.029035,1.943516e+06,958556.625873,21318.52,62.0
354,서초구,서초2동,서초2동 주민센터,0.0,2.0,0.0,0.0,489.0,0.0,943800.0,...,325,2600,1.670425,13.961538,37.492059,127.024957,1.943445e+06,958195.801821,28298.14,58.0
355,서초구,서초3동,서초3동 주민센터,0.0,0.0,0.0,0.0,291.0,0.0,3434133.0,...,625,4647,2.287430,15.902733,37.484060,127.014135,1.942563e+06,957234.533612,33589.12,62.0
356,서초구,서초4동,서초4동 주민센터,0.0,0.0,0.0,0.0,192.0,0.0,1779027.0,...,412,4071,1.377767,10.734463,37.502666,127.022173,1.944623e+06,957955.621990,31480.59,48.0
357,서초구,내곡동,내곡동 주민센터,0.0,0.0,0.0,1.0,804.0,0.0,1744470.0,...,404,3195,3.008928,17.089202,37.462193,127.052635,1.940120e+06,960626.851991,17099.59,50.0
445,서초구,서초2동,서초2동 서초구청,0.0,0.0,0.0,1.0,489.0,0.0,943800.0,...,325,2600,1.670425,13.961538,37.483725,127.032566,1.942517e+06,958863.832385,28298.14,54.0

* 반포1동 종합점수가 58점인것 확인.

In [67]:
# dfnew.to_csv('스테나인점수 포함.csv')

In [68]:
# 반포1동과 양천구청의 종합점수의 중간인 53점
df53over = dfnew[dfnew['총합 9'] >= 53]
df53over.head()

,자치구,동,센터명,공원수,도서관수,병원수,배움터수,동별강좌정원,사고건수,독거노인포함,...,일반,65세이상고령자,전연령별독거노인비율,노인인구별독거노인비율,X,Y,위도UTMK,경도UTMK,디지털정보지수,총합 9
1,종로구,사직동,사직동 주민센터,1.0,2.0,0.0,0.0,50.0,0.0,1087370.0,...,520,1843,6.016724,32.013022,37.576191,126.968829,1.952806e+06,953286.588072,9168.42,62.0
2,종로구,종로1.2.3.4가동,종로1.2.3.4가동 주민센터,1.0,0.0,1.0,2.0,360.0,0.0,2558435.0,...,920,1991,15.210701,64.540432,37.570728,126.988912,1.952190e+06,955056.678912,6455.13,100.0
3,종로구,삼청동,삼청동 주민센터,0.0,1.0,0.0,0.0,0.0,0.0,161760.0,...,221,674,8.250258,35.608309,37.584979,126.981782,1.953774e+06,954435.679506,2243.48,54.0
6,종로구,이화동,이화동 주민센터,2.0,0.0,0.0,1.0,0.0,0.0,718820.0,...,374,1415,6.263099,35.901060,37.576975,127.004316,1.952876e+06,956420.635774,7323.87,58.0
7,종로구,혜화동,혜화동 주민센터,0.0,0.0,0.0,0.0,37.0,0.0,2135562.0,...,682,2717,3.982974,28.928966,37.586829,127.000602,1.953971e+06,956098.462572,17054.63,54.0

In [69]:
(df53over['총합 9'] >= 53).value_counts()

True    332
Name: 총합 9, dtype: int64

In [70]:
df53over.shape

(332, 22)

In [71]:
df53over.to_csv('excellent 컷오프 완료.csv')