# Import

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns
import warnings
warnings.filterwarnings(action = 'ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 주변특성데이터가 있는 데이터 불러오기
seoul_near= pd.read_excel('/content/drive/MyDrive/ 시소프로젝트/완성데이터/주변특성_개수_지하철, 버정, 공원, 도서관, 병원, 배움터.xlsx')
seoul_near.head()

,name,동,지하철 호선 개수(250m),버스정류장 개수(100m),공원 개수(500m),도서관 개수(500m),병원 개수(500m),배움터 개수(500m)
0,청운효자동 주민센터,청운효자동,0.0,1.0,0.0,0.0,0.0,0.0
1,사직동 주민센터,사직동,0.0,1.0,1.0,2.0,0.0,0.0
2,종로1.2.3.4가동 주민센터,종로1.2.3.4가동,1.0,4.0,1.0,0.0,1.0,2.0
3,삼청동 주민센터,삼청동,0.0,3.0,0.0,1.0,0.0,0.0
4,가회동 주민센터,가회동,0.0,2.0,0.0,1.0,0.0,0.0

In [ ]:
# 저소득노인, 일반, 인구, 65세 이상 고령자 등의 인구 특성 데이터 senior_population_1 
population = pd.read_csv('/content/drive/MyDrive/ 시소프로젝트/완성데이터/인구특성_구,동,시니어수.csv')
# 인구특성데이터 population에서 추출 
population = population[['자치구', '동']]
population.head()

   자치구    동
0  종로구  사직동
1  종로구  삼청동
2  종로구  부암동
3  종로구  평창동
4  종로구  무악동

In [ ]:
# 인구특성 + 시설특성 데이터 불러오기 
result = pd.read_csv('/content/drive/MyDrive/ 시소프로젝트/완성데이터/인구특성+시설특성_독거노인수, 동별 강좌갯수,정원.csv')
result.head()

   자치구    동  동별 독거노인 인구 합계  동별 강좌 총 갯수  동별 강좌 총 정원
0  종로구  사직동            590         1.0        50.0
1  종로구  삼청동            240         NaN         NaN
2  종로구  부암동            489         NaN         NaN
3  종로구  평창동            754         NaN         NaN
4  종로구  무악동            334         6.0       140.0

In [ ]:
# 총 정원의 NAN값은 동별 강좌 총 갯수의 평균치로 값 대체
result[result['동별 강좌 총 갯수']==5].mean()
# NaN은 갯수가 없다는 뜻이므로 총 갯수 0 값 대체
result['동별 강좌 총 갯수'] = result['동별 강좌 총 갯수'].fillna(0).astype('int')
# 총 갯수가 0이므로 정원도 0 값 대체
result['동별 강좌 총 정원'] = result['동별 강좌 총 정원'].fillna(0).astype('int')

In [ ]:
acci_10 = pd.read_csv('/content/drive/MyDrive/ 시소프로젝트/완성데이터/사고건수, 사상자수, 주민센터(y).csv')
acci_10.head()

   사고건수  사상자수       name
0     6     6  신당5동 주민센터
1    24    29  상도3동 주민센터
2     3     3  장안2동 주민센터
3     3     3  쌍문1동 주민센터
4     4     4  갈현1동 주민센터

In [ ]:
near_pop=pd.merge(seoul_near,result, how='left', on='동')
near_pop.isnull().sum()
near_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             451 non-null    object
 1   동                451 non-null    object
 2   지하철 호선 개수(250m)  451 non-null    float64
 3   버스정류장 개수(100m)   451 non-null    float64
 4   공원 개수(500m)      451 non-null    float64
 5   도서관 개수(500m)     451 non-null    float64
 6   병원 개수(500m)      451 non-null    float64
 7   배움터 개수(500m)     451 non-null    float64
 8   자치구              451 non-null    object
 9   동별 독거노인 인구 합계    451 non-null    int64
 10  동별 강좌 총 갯수       451 non-null    int64
 11  동별 강좌 총 정원       451 non-null    int64
dtypes: float64(6), int64(3), object(3)
memory usage: 45.8+ KB

In [ ]:
near_2 = near_pop.merge(population, how='left')
near_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             451 non-null    object
 1   동                451 non-null    object
 2   지하철 호선 개수(250m)  451 non-null    float64
 3   버스정류장 개수(100m)   451 non-null    float64
 4   공원 개수(500m)      451 non-null    float64
 5   도서관 개수(500m)     451 non-null    float64
 6   병원 개수(500m)      451 non-null    float64
 7   배움터 개수(500m)     451 non-null    float64
 8   자치구              451 non-null    object
 9   동별 독거노인 인구 합계    451 non-null    int64
 10  동별 강좌 총 갯수       451 non-null    int64
 11  동별 강좌 총 정원       451 non-null    int64
dtypes: float64(6), int64(3), object(3)
memory usage: 45.8+ KB

In [ ]:
df = near_2.merge(acci_10, how='left')
df = df.fillna(int(0))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 451 entries, 0 to 450
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             451 non-null    object
 1   동                451 non-null    object
 2   지하철 호선 개수(250m)  451 non-null    float64
 3   버스정류장 개수(100m)   451 non-null    float64
 4   공원 개수(500m)      451 non-null    float64
 5   도서관 개수(500m)     451 non-null    float64
 6   병원 개수(500m)      451 non-null    float64
 7   배움터 개수(500m)     451 non-null    float64
 8   자치구              451 non-null    object
 9   동별 독거노인 인구 합계    451 non-null    int64
 10  동별 강좌 총 갯수       451 non-null    int64
 11  동별 강좌 총 정원       451 non-null    int64
 12  사고건수             451 non-null    float64
 13  사상자수             451 non-null    float64
dtypes: float64(8), int64(3), object(3)
memory usage: 52.9+ KB

In [ ]:
df[df.duplicated()]

,name,동,지하철 호선 개수(250m),버스정류장 개수(100m),공원 개수(500m),도서관 개수(500m),병원 개수(500m),배움터 개수(500m),자치구,동별 독거노인 인구 합계,동별 강좌 총 갯수,동별 강좌 총 정원,사고건수,사상자수
370,신사동 주민센터,신사동,0.0,1.0,0.0,0.0,0.0,0.0,관악구,1002,10,204,0.0,0.0
371,신사동 주민센터,신사동,0.0,1.0,0.0,0.0,0.0,0.0,강남구,463,0,0,0.0,0.0

In [ ]:
df.drop(index=370, inplace=True)
df.drop(index=371, inplace=True)

In [ ]:
df.head()

,name,동,지하철 호선 개수(250m),버스정류장 개수(100m),공원 개수(500m),도서관 개수(500m),병원 개수(500m),배움터 개수(500m),자치구,동별 독거노인 인구 합계,동별 강좌 총 갯수,동별 강좌 총 정원,사고건수,사상자수
0,청운효자동 주민센터,청운효자동,0.0,1.0,0.0,0.0,0.0,0.0,종로구,604,2,70,0.0,0.0
1,사직동 주민센터,사직동,0.0,1.0,1.0,2.0,0.0,0.0,종로구,590,1,50,0.0,0.0
2,종로1.2.3.4가동 주민센터,종로1.2.3.4가동,1.0,4.0,1.0,0.0,1.0,2.0,종로구,1285,14,360,0.0,0.0
3,삼청동 주민센터,삼청동,0.0,3.0,0.0,1.0,0.0,0.0,종로구,240,0,0,0.0,0.0
4,가회동 주민센터,가회동,0.0,2.0,0.0,1.0,0.0,0.0,종로구,296,0,0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 449 entries, 0 to 450
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             449 non-null    object
 1   동                449 non-null    object
 2   지하철 호선 개수(250m)  449 non-null    float64
 3   버스정류장 개수(100m)   449 non-null    float64
 4   공원 개수(500m)      449 non-null    float64
 5   도서관 개수(500m)     449 non-null    float64
 6   병원 개수(500m)      449 non-null    float64
 7   배움터 개수(500m)     449 non-null    float64
 8   자치구              449 non-null    object
 9   동별 독거노인 인구 합계    449 non-null    int64
 10  동별 강좌 총 갯수       449 non-null    int64
 11  동별 강좌 총 정원       449 non-null    int64
 12  사고건수             449 non-null    float64
 13  사상자수             449 non-null    float64
dtypes: float64(8), int64(3), object(3)
memory usage: 52.6+ KB

In [ ]:
# 컬럼 이름 쉽게 바꾸기
df.columns = ['센터명', '동', '지하철수', '버스정류장수', '공원수', '도서관수', '배움터수', 
              '병원수', '자치구', '동별독거노인인구', '동별강좌갯수', '동별강좌정원','사고건수', '사상자수']
df.columns

Index(['센터명', '동', '지하철수', '버스정류장수', '공원수', '도서관수', '배움터수', '병원수', '자치구',
       '동별독거노인인구', '동별강좌갯수', '동별강좌정원', '사고건수', '사상자수'],
      dtype='object')

# PCA

## 대중교통으로 합치기

In [ ]:
# 코렙 한글깨짐
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 코렙에서 한글 깨짐 현상 있을때 설치 후 밑코드로 해결완료

plt.rc('font', family='NanumBarunGothic')

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 49 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 3s (3,195 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155653 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
df1=df.copy()

In [ ]:
df1['대중교통'] = df1['지하철수'] + df1['버스정류장수']
df1.drop(columns=['지하철수','버스정류장수'], inplace=True)

In [ ]:
df1.drop(columns='사상자수',inplace=True)

In [ ]:
df1.head(3)

,센터명,동,공원수,도서관수,배움터수,병원수,자치구,동별독거노인인구,동별강좌갯수,동별강좌정원,사고건수,대중교통
0,청운효자동 주민센터,청운효자동,0.0,0.0,0.0,0.0,종로구,604,2,70,0.0,1.0
1,사직동 주민센터,사직동,1.0,2.0,0.0,0.0,종로구,590,1,50,0.0,1.0
2,종로1.2.3.4가동 주민센터,종로1.2.3.4가동,1.0,0.0,1.0,2.0,종로구,1285,14,360,0.0,5.0

## 주변특성 pca

In [ ]:
# StandardScaler와 logScale을 활용하여 연속형 변수 정규화를 진행한다.
from sklearn.preprocessing import StandardScaler, MinMaxScaler
number = df1[['공원수','도서관수','배움터수','병원수','대중교통']]

scaled_data = StandardScaler().fit_transform(np.log1p(number))
data_scale_log=pd.DataFrame(data=scaled_data, columns=number.columns)

In [ ]:
scale_df = data_scale_log
scale_df[:5]

        공원수      도서관수      배움터수       병원수      대중교통
0 -0.402463 -0.645222 -0.297355 -0.495758 -0.079938
1  2.297669  2.227268 -0.297355 -0.495758 -0.079938
2  2.297669 -0.645222  2.978634  2.680891  1.743137
3 -0.402463  1.167117 -0.297355 -0.495758  1.070294
4 -0.402463  1.167117 -0.297355 -0.495758  0.592905

In [ ]:
from sklearn.decomposition import PCA
# 주변특성 pca (설명력 80%)
pca = PCA(n_components=0.8)
pca.fit(number)
pca_df1 = pd.DataFrame((pca.transform(number)))

In [ ]:
pca_df1.shape

(449, 2)

In [ ]:
pca_result = pd.DataFrame(data = pca.components_, columns = number.columns)
pca_result.transpose()

             0         1
공원수   0.025467  0.014610
도서관수  0.042397  0.985033
배움터수  0.001091 -0.043230
병원수   0.050058  0.158470
대중교통  0.997520 -0.050144